*
!.gitignore
!LICENSE
!waybar/
!waybar/*
!waybar/scripts/
!waybar/scripts/*


!hypr/
!hypr/*


nvim/lazy-lock.json
!nvim/init.lua
!nvim/vim-options.lua
!nvim/lua/
!nvim/lua/*
!nvim/lua/plugins/
!nvim/lua/plugins/*
